 body{
 background-color: rgb(255,0,255);
 text-align : center;
 margin : 50px;
}
div {
 background : rgb(0,255,0);
 width : 400px;
 border : 3px black solid;
 }
h1 {
 margin : 20px;
border-top: 2px ridge purple;
border-left: 2px inset red;
border-right: 2px double blue;
border-bottom: 2px groove magenta;
 background : rgb(75,0,130);
 }
h2 {
margin : 30px;
border : 5px solid black;
border-top-color: orange;
border-right-color: cyan;
border-left-color: aqua;
border-bottom-color: yellow;
background : rgb(123,104,238);
}
h3 {
margin : 35px;
border : 7px solid black;
background : rgb(240,230,140);
}
